.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared style */

.btn-primary{
max-width: 197px; 
height: 50px;
padding: 10px;
border-radius: 12px;
 border: none;
 text-align: left;
 font-size: 1.25rem;
 font-weight: 600;
 color: rgb(255, 255, 255);

}
.logo-container{
    display: flex;
    gap: 186px;
    max-width:1160px;
    height: 62px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1vw;
}
nav img{
    width: 100%;
}
nav p{
    font-size: 32px;
    font-weight: 700;
}
.links
{
    display: flex;
    gap: 32px;
    width: 387px;
    height: 30px;
    justify-content: flex-start;
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    
}
.nav-link1{
    text-decoration: none;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.nav-link2{
    text-decoration: none;
color: rgb(1, 172, 253);
}
.nav-link3{
    text-decoration: none;
color: rgb(5, 212, 223);
}
.nav-link4{
    text-decoration: none;
color: rgb(93, 88, 239);
}
nav button{
background: rgb(254, 163, 1);
}
.menu-bar
{
    display: none;
}
/* Banner style*/
.banner-container{
    display: flex;
    padding: 0 auto;
    max-width: 1160px;
    height: 575px;
    margin-left: 141px;
    margin-top: 100px;
}
.banner{
    max-width: 640px;
    margin: 0 50px;
}
.banner-heading{
    font-weight: 700;
    font-size: 3.5rem;
    text-align: left;
    color: rgb(17,17,7); 
    margin: 24px 0;   
}
#empowering{
    color: rgb(254,163,1);
}
#vision{
    color: rgb(1,172,253);
}
.banner-description{
    max-width: 640px;
    height: 50px;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 24px 0;
}
.banner-btn{
    font-weight: 700;
    background-color: rgb(17, 17, 17);
    padding: 10px;
    margin: 24px 0;
}
.banner-image{
    max-width: 50%;
    height: auto;
}

@media screen and (max-width:576px) {
    .links , .btn-primary , .logo-title{
    display: none;
    }
    .logo-container{
        justify-content: space-around;
        align-items: center;
        padding: 12px 16px;
        border: 0.5px solid rgb(254, 163, 1);
    }
.menu-bar{
    display: block;
} 
 .banner-container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0 20px 0;
} 
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-heading{
    font-size: 2rem;
}
.banner-description{
    font-size: .875rem;
}
 .banner-btn{
    display: block;
} 
.banner-image{
    margin-top: 100px;
}  

}


